[submodule "services/usermanagement_api"]
	path = services/usermanagement_api
	url = git@gitlab.com:muhamadanjar/fastapi_usermanagement.git
[submodule "services/dashboard"]
	path = services/dashboard
	url = git@gitlab.com:muhamadanjar/dashboard-next.git
[submodule "services/etl_api"]
	path = services/etl_api
	url = git@github.com:muhamadanjar/fastapi-etl.git
[submodule "services/payment_api"]
	path = services/payment_api
	url = git@github.com:muhamadanjar/fastapi-payment-service.git
[submodule "services/tileserver_api"]
	path = services/tileserver_api
	url = git@github.com:muhamadanjar/fastapi-tileserver.git
[submodule "services/geoportal"]
	path = services/geoportal
	url = git@github.com:muhamadanjar/geoportal-app.git
