**

!service_auth/
!service_auth/pyproject.toml
!service_auth/src/
!service_auth/src/**

!upload_api/
!upload_api/app/
!upload_api/app/**
!upload_api/worker/
!upload_api/worker/**
!upload_api/migrations/
!upload_api/migrations/**
!upload_api/alembic.ini
!upload_api/requirements.txt
!upload_api/docker/
!upload_api/docker/Dockerfile

!etl_api/
!etl_api/app/
!etl_api/app/**
!etl_api/migrations/
!etl_api/migrations/**
!etl_api/alembic.ini
!etl_api/requirements.txt
!etl_api/.env.example
!etl_api/docker/
!etl_api/docker/Dockerfile

!tileserver_api/
!tileserver_api/app/
!tileserver_api/app/**
!tileserver_api/alembic/
!tileserver_api/alembic/**
!tileserver_api/migrations/
!tileserver_api/migrations/**
!tileserver_api/alembic.ini
!tileserver_api/requirements.txt
!tileserver_api/docker/
!tileserver_api/docker/Dockerfile

!payment_api/
!payment_api/app/
!payment_api/app/**
!payment_api/migrations/
!payment_api/migrations/**
!payment_api/alembic.ini
!payment_api/requirements.txt
!payment_api/docker/
!payment_api/docker/Dockerfile

**/__pycache__/
**/*.pyc
**/venv/
**/.venv/
**/graphify-out/
**/.git/
**/node_modules/
**/.next/
**/tests/
tileserver_api/data/
etl_api/storage/
upload_api/storage/
